module.exports = {
  root: true,
  parser: '@typescript-eslint/parser',
  plugins: [
    '@typescript-eslint',
  ],
  extends: [
    '@antfu',
    'eslint:recommended',
    'plugin:@typescript-eslint/recommended',
  ],
  'ignorePatterns': [
    '.eslintrc.js'
  ]  
};
